---
layout: default
---

<div class="container">
	<ul style="margin:0;padding:0">
		{% for post in site.posts %}
		  {% if post.category == 'Projects' %}
		    {% continue %}
		  {% endif %}
		  
	  	<li style="list-style:none">
	  		<h1 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h1>
	    	<span class="post-date">{{ post.date | date: "%B %-d, %Y" }} &middot; {{ post.content | number_of_words | plus:90 | divided_by:180 | append: " Minute Read" }} </span>

	    	{% include first_img.html %}

	    	<p>{{ post.blurb }}.. <a href="{{ post.url }}"">[Read more...]</a></p>
	    </li>
		{% endfor %}
	</ul>
</div>