/* ------------------------------------------------------------------------- */
/* Style contents:

 * Images
 * Navbar
 * Copywright

 */

/* ------------------------------------------------------------------------- */
/* Images                                                                    */

#headshot {
  overflow: hidden;
  border-radius: 50%;
  background-color: #f8f8f2;
  transform: rotate(25deg);
  max-width: 10rem;
  margin-left:  auto;
  margin-right: auto;
  margin-bottom: 0;
}

/* ------------------------------------------------------------------------- */
/* Navbar								                                                     */

.nav {
	background: white; 
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3rem;
  overflow: hidden;
  border-bottom: 1px solid #f8f8f2;
  transition: top 0.5s ease-in-out;
  white-space: nowrap;
}

.nav-container {
  max-width: 28rem;
  padding-left:  1rem;
  padding-right: 1rem;
  margin-left:  auto;
  margin-right: auto;
}

@media (min-width: 38em) {
  .nav-container {
    max-width: 32rem;
  }
}
@media (min-width: 56em) {
  .nav-container {
    max-width: 38rem;
  }
}

.nav-item {
  color: #292923;
  position: relative;
  height: 3rem;
  margin: 0;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left: 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: 0.15s ease-in-out;
}

.nav-item-left {
  float: left;
  padding-right: 0.6rem;
}

.nav-item-right {
  float: right;
  padding-left: 0.6rem;
  padding-right: 1rem;
}

.nav-item-center {
  float: left;
  padding-right: 0.6rem;
}

@media (max-width: 400px) {
  .nav-container {
    padding: 0;
  }
}

.nav-item:hover, .nav-item-active { 
  color: #cc0052;
  text-decoration: none;
  border-bottom: 0.2rem solid #cc0052;

}

.nav-up {
  top: -5rem;
}

/* Position site content when the header is visible. */
.wrap {
  padding-top: 7rem;
}


/* ------------------------------------------------------------------------- */
/* Copywright                                                                */

.copywright {
	text-align: center;
  width: 20rem;
  padding-left:  1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  margin-left:  auto;
  margin-right: auto;
}

					                                               
                                                                  



