/* ------------------------------------------------------------------------- */
/* Style contents:

 * Images
 * Navbar
 * Copywright
 * Positioning

 */

/* ------------------------------------------------------------------------- */
/* Images                                                                    */

#headshot {
  overflow: hidden;
  border-radius: 50%;
  background-color: #515151;
  transform: rotate(25deg);
  max-width: 10rem;
  margin-left:  auto;
  margin-right: auto;
  margin-bottom: 0;
  border: 0.2rem solid #515151;
}

/* ------------------------------------------------------------------------- */
/* Navbar								                                                     */

.nav {
  z-index: 10;
	background: white; 
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 8.4rem;
  border-bottom: 0.1rem solid #f8f8f2;
  transition: top 0.5s ease-in-out;
  white-space: nowrap;
  border-top: 0.1rem solid #515151;
}

.nav-container {
  width: 20rem;
  padding-left:  1rem;
  padding-right: 1rem;
  margin-left:  auto;
  margin-right: auto;
}

.nav-item {
  color: #515151;
  position: relative;
  height: 2.75rem;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0rem;
  padding-bottom: 0;
  border-bottom: 0.1rem solid transparent; 
  text-align: center;
  text-decoration: none;
  transition: 0.15s ease-in-out;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 6rem;
  display: inline-block;
  float: left;
}

@media (max-width: 330px) {
  .nav-container {
    width: 17rem;
  }
  .nav-item {
    width: 5rem;
    padding-left: 0rem;
    padding-right: 0rem;
  }
}

.nav-item-left {
}

.nav-item-right {
  margin-right: -2000px;
  left: -2000px;
  float: right;
}

.nav-item-center {
  margin-left: -2000px;
  left: 2000px;
}

.nav-title, .nav-title:hover {
  font-family: 'Zeyada', cursive;
  font-size: 2.5rem;
  display: block;
  color: #515151;
  margin: 0 auto;
  text-align: center;
  padding-top: 1.2rem;
  padding-bottom: 0.6rem;
  text-decoration: none;
  transition: 0.15s ease-in-out;
  width: 11rem;
  min-width: 280px;
}

.nav-item:hover, .nav-item-active { 
  color: #cc0052;
  text-decoration: none;
  border-bottom: 0.1rem solid #cc0052;
}

.nav-title-active {
  color: #cc0052;
}
 
.nav-up {
  top: -8.5rem;
}

/* Position site content when the header is visible. */
.wrap {
  padding-top: 10.5rem;
}


/* ------------------------------------------------------------------------- */
/* Copywright                                                                */

.copywright {
	text-align: center;
  width: 20rem;
  padding-left:  1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  margin-left:  auto;
  margin-right: auto;
}

/* ------------------------------------------------------------------------- */
/* ????????????                                                              */

.social-media-block {
  position: relative;
  display: block;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  color: #515151;
  text-align: center;
  margin-top: 1rem;
}

.social-media-block a {
  text-decoration: none;
}					                                               
   
.divider {
  position: absolute;
  left: 0;
  right: 0;
  height: 0.1rem;
  background-color: #f8f8f2;
}     

.spacer {
  position: relative;
  margin-bottom: 3rem;
}                                                          



