/* ------------------------------------------------------------------------- */
/* Error pages                                                               */

.page-not-found {
  margin: 0 auto;
  text-align: center;
  max-width: 450px;
}

h1.page-not-found {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 5rem;
  margin-bottom: -2rem;
}

h4.page-not-found {
  font-family: fantasy, cursive, sans-serif;
  font-size: 2rem;
}

img.page-not-found {
  height: 20rem;
  padding: 2rem 2rem 3rem 2rem;
  min-width: 200px;
}	










